/*! modern-normalize v3.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.5; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.25; /* 1 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}




/* MINE */

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	background-color: hsl(320, 20%, 3%);
	height: 100%;
	display: flex;
	flex-direction: column;
}

header,
footer {
	flex: 0 0 auto;
}

header {
	height: 12vh;
	background-color: hsl(320, 20%, 3%);
	color: hsl(0, 90%, 59%);
	font-size: 1.4rem;
	font-weight: 0.9;
	align-content: center;
	text-align: center;
	position: sticky;
	top: 0;
}

footer {
	height: 30vh;
	background-color: hsl(320, 20%, 3%);
}

main {
	display: flex;
	flex-direction: column;
}

.hero-section {
	display: flex;
	height: 100vh;
	width: 100%;
	background-color: hsl(0, 90%, 59%);
	background-image:
	linear-gradient(to right,hsl(320, 20%, 3%, 1),
							 hsl(320, 20%, 3%, 1),
							 hsl(320, 20%, 3%, 0.5),
							 hsl(320, 20%, 3%, 0.2),
							 hsl(320, 20%, 3%, 0)
							 ),
	url('img/charles-front-view.jpg');
	background-repeat: no-repeat;
	background-position: left top, 10vw top;
	background-size: cover;
	justify-content: flex-start;
	align-items: center;
	padding: 2rem;
}


.hero-container {
	display: flex;
	gap: 2rem;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 80%;
	width: 28%;
}

.hero-container p {
	font-size: 1.7rem;
	font-weight: 900;
	letter-spacing: 1px;
	margin-left: 8%;
}

.hero-container a {
	display: block;
	text-align: center;
	width: 70%;
	color: hsl(0, 90%, 59%);
	border: 3px solid hsl(0, 90%, 59%);
	border-radius: 1rem;
	background-color: transparent;
	padding: 1rem 2rem;
	font-size: 1rem;
	font-weight: 700;
}

.form-section {
	flex: 1;
	display: flex;
	padding: calc(12vh + 3%) 5vh;
}

.img-container,
.form-container {
	width: 50%;
	flex: auto;
}

.form-container {
	padding: 2rem;
	background-color: #0009;
	border-radius: 1rem;
}

.form-section {
	/*background-image: url('img/sphere-las-vegas.webp');  The image used */
	/* background-image: url('img/drivers-parade.jpg'); The image used */
	background-image: url('img/f1-las-vegas-2024-logo.png'), url('img/kerbs.jpg'); /* The image used */
	background-color: #333; /* Used if the image is unavailable */
	background-origin: border-box;
	/* background-attachment: fixed, fixed; */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-position: 2% 92%, left top; /* Center the image */
	background-size: 10%, cover; /* Resize the background image to cover the entire container */
}

.disclaimer-section {
	height: 50vh;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	justify-content: center;
}

.cards-container ul {
	display: flex;
	gap: 2rem;
}


.card {
	width: 15vw;
	height: 18vw;
	display: flex;
	flex-direction: column;
	border: 3px solid red;
	border-radius: 3%;
	gap: 1rem;
	padding: 1rem;
}

.card p {
	font-size: 1.1rem;
}

.card-img {
	height: 110px;
	align-content: center;
	border-radius: 3%;
	padding: 3%;

}

.card-img.f1-logo{
	background-color: red;
}

.card-img.gp-logo{
	background-color: #222;
}

.card img {
	width: 100%;
}

form {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
	align-content:space-between;
}

.wrapper {
  width: 40%;
}

.full-wrapper {
	width: 100%;
}

fieldset > ul{
	display: flex;
	gap: 25%;
}

input {
	width: 100%;
}

input:optional {
	border: 1px solid hsl(0, 0%, 60%);
}
input:required {
	border: 1px solid hsl(0, 0%, 25%);
}

input:user-invalid {
	border: 1px solid red;
	box-shadow: 0 0 5px 0px red;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
textarea:focus {
  box-shadow: inset 1px 1px 3px #ccc;
  border-radius: 2px;
}

/* input:focus:invalid {
	box-shadow: none;
} */

input[type='password']:user-valid,
input[type='email']:user-valid,
input[type='text']:user-valid,
input[type='number']:user-valid {
	border: 1px solid lime;
	box-shadow: 0 0 5px 0px lime;
}

/* input[type='password'].invalid {
	border: 1px solid red;
	box-shadow: 0 0 5px 0px red;
}

input[type='password'].valid {
	border: 1px solid lime;
	box-shadow: 0 0 5px 0px lime;
} */

/* blue placeholder on email fields */
input[type="email"]::placeholder {
	color: blue;
}

select {
  appearance: none;
  width: 100%;
  height: 100%;
}

.select {
  position: relative;
  width: 17rem;
}

.select::after {
  content: "▼";
  font-size: 1rem;
  top: 0px;
  right: 10px;
  position: absolute;
}

/*  These are styles to take inspiration from */
textarea {
	display: block;
  
	padding: 10px;   
	overflow: auto;
}

button {
	cursor: pointer;
}

button:hover,
button:focus {
	color: #fff;
}

input[type="radio"] {
	appearance: none;
}

input[type="radio"] {
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 0.6rem;
	border: 2px solid gray;
	/* Adjusts the position of the checkboxes on the text baseline */
	vertical-align: -2px;
	outline: none;
}

input[type="radio"]::before {
	display: block;
	content: " ";
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 0.3rem;
	background-color: red;
	font-size: 1rem;
	transform: translate(30%, 30%) scale(0);
	transform-origin: center;
	transition: all 0.3s ease-in;
  }
  
  input[type="radio"]:checked::before {
	transform: translate(30%, 30%) scale(1);
	transition: all 0.3s cubic-bezier(0.25, 0.25, 0.56, 2);
}

input[type='checkbox'] {
	width: auto;
}

label[for='terms'] {
	width: 80%
}

input[type='file'] {
	appearance: none;
	height: 0;
	width: 0;
}

label[for="file"] {
	background-color: silver;
	padding: 2% 3%;
	border-radius: 3px;
	text-align: center;
	line-height: 1.5;
}
  
label[for="file"]:hover {
	background: linear-gradient(to bottom, #fff, #ddd);
}
  
label[for="file"]:active {
	box-shadow: inset 1px 1px 3px #ccc;
}

body {
	color: white;
}
